@import "tailwindcss";

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
 
  color: #e2e8f0;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
